/* Card */
.testimonial {
  margin:8rem 0;
}

.testimonial-card {

  margin: 3rem auto;
  width: 60%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(27, 27, 27, 0.3);
  transition: transform 0.6s ease;
}

.testimonial-card:hover {
  transform: scale(1.02);
}

/* Avatar */
.avatar-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  flex-shrink: 0;
}

.avatar-wrapper.large {
  width: 200px;
  height: 200px;
}

.avatar-glow {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  filter: blur(18px);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.testimonial-card:hover .avatar-glow {
  opacity: 0.45;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center 20%;
  border: 3px solid rgba(191, 149, 63, 0.35);
  transition: filter 0.5s ease;
}

/* Right Content */
.testimonial-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Text */
.leader-name {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #2f2f2f;
  letter-spacing: 0.05em;
}

.leader-role {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  margin-left: 3rem;
  color: #606060;
  font-size: 0.9rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-family: "Noto Sans Tamil", sans-serif;
}

/* Quote */
.testimonial-content {
  position: relative;
}

.quote-start {
  position: absolute;
  top: -12px;
  left: -10px;
  font-size: 3rem;
  color: #bf953f;
  opacity: 0.2;
}

.quote-end {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 3rem;
  color: #bf953f;
  opacity: 0.2;
}

.testimonial-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #505050;
  font-style: italic;
  font-family: "Noto Sans Tamil", sans-serif;
  padding-left: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .testimonial-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    padding: .5rem;
  }

  .testimonial-text {
    padding-left: 0;
    font-size: 1rem;
  }

  .avatar-wrapper.large {
  width: 350px;
  height: 350px;
}
}
