/* Base */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
} 

.navbar.scrolled {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.nav-logo a {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* Links */
.nav-links {
  display: flex;
  gap: 2rem;
}

.logo {
  height: 20px;

}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links a.active::after {
  width: 100%;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #111;
  transition: all 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    transform: translateY(-120%);
    transition: transform 0.4s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }
}
