.heropage {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Video background */
.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Dark overlay for text readability */
.hero-overlay {
  width: 100%;
  height: 100%;



  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.hero-content {
  margin-top: 2%;
  max-width: 700px;
  padding: 0 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 6px 9px #000;
}

/* Tamil heading */
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}

.hero-title-img {
  width: 35rem;
  height: auto;
  margin-top: 80%;
}

.second-head {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #CFA859;
}

/* Mobile */
@media (max-width: 768px) {
  .hero-content {
    margin-top: 14rem;
    padding: 0 1.2rem;
  }

  .hero-title,
  .second-head {
    font-size: 2.2rem;
  }

  .hero-title-img {
    position: relative;
  width: 26rem;
  bottom: 20%;
}
}
